//_variables.scss

//== Colors
//
//## Gray and brand colors for use across theme.

$black:                  #202020;
$gray:                   #696969;
$gray-light:             #EBEBEB;
$gray-lighter:           #F7F7F7;
$white:                  #FFFFFF;
$yellow:                 #FFEA00;
$blue:                   #0045FF;
$orchid:                 #747ca8;
$lavender:               #989ebe;
$haze:                   #e8e9f0;
$red:                    #c70d0d;
$spring:                 #97d700;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Asar",Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

$font-size-xsmall:		  0.625rem;
$font-size-small:         0.875rem;
$font-size-medium:		  1rem;
$font-size-base:          1.25rem;
$font-size-large:         1.65rem;
$font-size-xlarge:        2.35rem;

$font-size-h1:            3rem;
$font-size-h2:            2.5rem;
$font-size-h3:            2rem;
$font-size-h4:            1.5rem;
$font-size-h5:            1rem;
$font-size-h6:            0.75rem;

$font-weight-normal:     normal;
$font-weight-bold:       600;

$line-height-base:        1.1;
$line-height-computed:    floor(($font-size-base * $line-height-base));

// Functional Colors
$brand-primary:             $orchid;
$body-bg:                   $haze;
$text-color:                $black;
$text-color-inverse:        $gray-light;
$link-color:                $spring;

//Layout
$max-width: 1440px;
$header-height: 75px;

// Spacing
$gutter-padding: 12px;
$gutter-padding-left: 6px;