@import "~src/styles/variables";

:host-context {
    display: block;
}

.teaser {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.teaser__image {
    position: relative;
    max-height: 350px;
    overflow: hidden;
}

.teaser__content-no-image {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 10rem;
    min-width: 15rem;
    padding: .75rem;
    font-size: $font-size-medium;
}

.teaser__content-has-image {
    position: absolute;
    display: block;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    min-height: 10rem;
    min-width: 15rem;
    padding: .75rem;
    font-size: $font-size-medium;
}

.teaser__description p {
    margin: 0 0 ($line-height-computed / 2);
    font-size: $font-size-base;
    line-height: $line-height-base + 1;
    text-align: justify;
    color: $white;
}

.teaser__action-link {
    border: 1px solid $orchid;
    border-radius: 1px;
    background: $orchid;
    color: $white;
    margin: 1rem .75rem 0 0;
    padding: .5rem 1.125rem;
    font-size: $font-size-medium;
}