@import "~src/styles/variables";

:host-context {
    display: block;
}

.teaser {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.teaser__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 10rem;
    min-width: 15rem;
    padding: .75rem;
    font-size: .8125rem;
}

.teaser__action-link {
    border: 1px solid $orchid;
    border-radius: 1px;
    color: $orchid;
    margin: 1rem .75rem 0 0;
    padding: .5rem 1.125rem;
    font-size: .75rem;
}