@import "~src/styles/variables";

:host-context {
    display: block;
}

.footer {
    display: grid;
    background-color: $brand-primary;
    color: $spring;
}

.footer-container {
    text-align: center;
}

.footer-title {
    font-size: larger;
    font-weight: bold;
    color: $spring;
}