<div class="login-form">
    <div class="container">
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                </div>
                <div class="form-group">
                    <button  class="btn btn-primary"> Login </button>
                </div>
            </form>
        </div>
    </div>
</div>
